*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
#app{
    font-size: 0.5rem;
}
.myhead{
    position: fixed;
    background: rgb(238, 147, 11);
    width: 100%;
    top: 0;
    text-align: center;
    color: white;
    z-index: 100;
}
.myhead>span:first-child{
    float: left;    
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.5rem;
    margin-left: 0.2rem;
}
.myhead>span:first-child>i{
    font-size: 0.5rem;
}
.myhead>span:last-child{
    float: right;
    margin-right:0.2rem;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.5rem;
}
.myhead>span:last-child>i{
    font-size: 0.5rem;
}
.myhead>span:nth-child(2){
    
}
.myfoot{
    position: fixed;
    width: 100%;
    bottom: 0;
    background:rgb(236, 235, 235);
    height: 1rem;
    color: #8c8c8c;
}
.myfoot>div{
    float: left;
    width: 21%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.3rem;
    position: relative;
    
}
.myfoot>div:nth-child(3){
    background: rgb(236, 235, 235);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height:1.3rem;
    width: 1rem;
    margin-top:-0.3rem;
}
.myfoot>div:nth-child(3)>p{
    margin-top:0.27rem;
}
.myfoot>div:nth-child(3)>i{
    display: block;
    
    width:0.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    margin-left:  0.14rem;
    background: rgb(238, 147, 11);
    color: white;
    border-radius: 50%;
}
.myfoot>div:hover{
    color:rgb(238, 147, 11) ;
    background: #ddd;
}
.myfoot>div>i{
    position: absolute;
    top: 0.1rem;
    font-size: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    
    display: block;
    width: 100%;
    left: 0;
}
.myfoot>div>p{
    line-height: 1.5rem;
}
.index_body{
    /* border: 1px solid red; */
    margin-top:0.65rem;
    margin-bottom: 1rem;
}
.index_head{
    
    
    height: 0.5rem;
    width: 100%;
    font-size: 0.4rem;
    margin-bottom: 0.1rem;
}
.index_head>div:first-child{
    float: left;
}
.index_head>div:last-child{
    float:right;
    font-size: 0.3rem;
    height: 0.5rem;
    line-height: 0.5rem;
}
.index_search{
    background: rgb(236, 234, 234);
    color: #999;
    font-size: 0.3rem;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 90%;
    margin: auto;
    margin-bottom: 0.2rem;

}
.index_search_input{
    border: none;
    height: 0.45rem;
    line-height: 0.45rem;
    vertical-align: top;
    background: rgba(255,255,255,0);
    outline: none;
}
.index_location{
    font-size: 0.4rem!important;
    color: rgb(238, 147, 11); 
}
.index_headfb{
    font-size: 0.4rem!important;
    color: rgb(238, 147, 11)
}
.index_search{
    font-size: 0.3rem!important;
    vertical-align: top;
}
.index_list_all{
    margin-top: 0.2rem;
    width: 100%;
    overflow: hidden;
    height: 2.1rem;
}
.index_list_all>div{
    width: max-content;
 
    margin-left: 0%
}
.index_list_blean{
    height: 2.5rem;
    
}
.index_list_blean>.wh_indicator{
    bottom: 0;
}
.index_list_fl{
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    height: 2rem;
    display: inline-block;
    float: left;
    }
.index_list_fl>li{
    display: inline-block;
    font-size: 0.2rem;
    width: 20%;
    height: 50%;
    float: left;
}
.index_list_fl>li>div{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:10%;
}

.index_list_fl>li>div>div{
    width: 100%;
font-size: 0.22rem;
    
}
.index_list_icon{
    font-size: 0.5rem!important;
    color: rgb(14, 190, 235);
}
.index_list_btn{
    border: 1px solid red;
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
}
.index_list_bg{
    background: url(../imgs/blean_bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.index_list_bg>p{
    font-size: 0.4rem;
    text-align: center;
    color: white;
    margin-top: 0.7rem
}
.index_list_bg>div{
    width: 100%;
    text-align: center;
}
.index_list_btnl{
    display: inline-block;
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    padding: 0 0.1rem;
    height: 0.6rem;
    line-height: 0.55rem;
    vertical-align: middle; 
}
.index_list_btnr{
    display: inline-block;
    background: white;
    color: #ff6900;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    padding: 0 0.1rem;
    height: 0.6rem;
    line-height: 0.55rem;
    vertical-align: middle;
}
/*轮播图*/
.index_blean_imgs{
    margin-top: 0.2rem;
    border: 1px solid red;
}
.index_blean_imgss>.wh_indicator{
    bottom: 0;
}
.index_blean_img{
    width: 100%;
    height: 2rem;
}
/*首页公告轮播*/
li{
    list-style: none;
}
.index_gonggao_kuang{
    border: 1px solid #ddd;
    border-radius: 0.1rem;
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
    height: 1.2rem;
    overflow: hidden;
    box-shadow: 0 1px 1px 1px rgba(10,10,10,0.1);
}
.index_gonggao_kuang>ul{
    display: inline-block;
    font-size: 0.25rem;
    width: 75%;
    height: 100%;
}
@keyframes gonggao1
{
from {height:0;}
to {height:1.2rem;}
}

.index_gonggao_kuang>ul>li{
    width: 100%;
    overflow: hidden;
    line-height: 0.56rem;
    color: #999;
    animation: gonggao1 1s;
}
.index_gonggao_head{
    display: inline-block;
   
    vertical-align: top;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1.1rem;
    padding-top: 0.18rem;
}
.index_gonggao_head>img{
    width: 70%;
    display: block;
    margin:auto;
}
.index_gonggao_li{
   
    height: 1.2rem;
    line-height: 1.2rem;
}
/*选择你需要分服务类型*/
.index_xzfw{
    border: 1px solid #ddd;
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
    border-radius: 0.1rem;
    box-shadow: 0 1px 1px 1px rgba(10,10,10,0.1) ;
    padding-top: 0.2rem
}
.index_xzfw_head{
    font-size: 0.4rem;
    font-weight: bold;
}
.index_xzfw_list1{
    width: 95%;
    margin: auto;

    font-size: 0.2rem
}
.index_xzfw_list1>ul{
    width: 100%;
    display: block;
}
.index_xzfw_list1>ul>li{
    float: left;
    width: 25%;

   
    overflow: hidden;
}
.index_ppsj{
    width: 120%;
    margin-left: -0.15rem
}
.index_wlzx{
    width: 120%;
    margin-left: -0.15rem;

}
.index_itrj{
    width: 120%;
    margin-left: -0.15rem;
}
.index_qtfw{
    width: 120%;
    margin-left: -0.15rem;
}
.index_phone{
    clear: both;
    height: 0.7rem;
    background:#f5f5f5;
    padding-left:0.2rem;
}
.index_phone>span{
    line-height: 0.7rem;
    font-size: 0.3rem;
}
.index_phone>input{
    height: 0.65rem;
    vertical-align: top;
    outline-style: none;
    border: none;
    background:#f5f5f5;
}
.index_yzm{
    height: 0.7rem;
    background:#f5f5f5;
    margin-top: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.index_yzm>span{
    line-height: 0.7rem;
    font-size: 0.3rem;
}
.index_yzm>span:nth-child(3){
    background: #d0d0d0;
    border-radius: 0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    display: inline-block;
    height: 0.5rem;
    color: white;
    line-height: 0.5rem;
}
.index_yzm>input{
    width: 48%;
    height: 0.65rem;
    vertical-align: top;
    outline-style: none;
    border: none;
    background:#f5f5f5;
    
}
.index_wyfxq{
    display: block;
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
    background: linear-gradient(90deg,#f1954e,#ed672c);
    border-radius: 4px;
    color: white;
    border: none;
    height: 0.6rem;
}
.index_xzfw_foot{
    display: block;
    text-align: center;
    width: 95%;
    margin: auto;
    font-size: 0.25rem;
    color: #999;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.index_jdal{
    
    width: 95%;
    margin: auto;
    height: 3.6rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0rem 0rem 0.2rem 0.2rem;
    margin-top: 0.5rem;
}
.index_jdal_head{
    font-size: 0.45rem;
    font-weight: bold;
   
}
.index_jdal_head>i{
    float: right;
    font-size: 0.5rem;
    margin-right: 0.2rem;
    margin-top: 0.05rem;
}
.index_jdal_list{
    
    overflow: auto;
    width: 100%;
    
}
.index_jdal_list>ul{
    height: 100%;
    width: max-content;
}
.index_jdal_list>ul>li{
    float: left;
    width: 3.38rem;
    height: 2.7rem;
    padding: 0.1rem;
    box-shadow: 1px 0 1px 1px rgba(10,10,10,0.1);
    overflow: hidden;
    margin: 0.1rem;
}
.index_jdal_list>ul>li>div>img{
    width: 100%;
}
.index_jdal_list>ul>li>p{
    font-size: 0.35rem;
    font-weight: bold;
    color: red;
}
.index_jdal_title{
    font-size: 0.3rem;
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
  
}
.index_jdal_title_head{
    color: #ff6900;
}