*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
body{
    
}
#app{
    font-size: 0.5rem;
    background: white;
}
.myhead{
    position: fixed;
    background: rgb(238, 147, 11);
    width: 100%;
    top: 0;
    text-align: center;
    color: white;
    z-index: 100;
}
.myhead>span:first-child{
    float: left;    
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.5rem;
    margin-left: 0.2rem;
}
.myhead>span:first-child>i{
    font-size: 0.5rem;
}
.myhead>span:last-child{
    float: right;
    margin-right:0.2rem;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.5rem;
}
.myhead>span:last-child>i{
    font-size: 0.5rem;
}
.myhead>span:nth-child(2){
    
}
.myfoot{
    position: fixed;
    width: 100%;
    bottom: 0;
    background:rgb(236, 235, 235);
    height: 1rem;
    color: #8c8c8c;
    z-index: 100;
}
.myfoot>div{
    float: left;
    width: 21%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.3rem;
    position: relative;
    
}
.myfoot>div:nth-child(3){
    background: rgb(236, 235, 235);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height:1.3rem;
    width: 1rem;
    margin-top:-0.3rem;
}
.myfoot>div:nth-child(3)>p{
    margin-top:0.27rem;
}
.myfoot>div:nth-child(3)>i{
    display: block;
    
    width:0.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    margin-left:  0.14rem;
    background: rgb(238, 147, 11);
    color: white;
    border-radius: 50%;
}
.myfoot>div:hover{
    color:rgb(238, 147, 11) ;
    background: #ddd;
}
.myfoot>div>i{
    position: absolute;
    top: 0.1rem;
    font-size: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    
    display: block;
    width: 100%;
    left: 0;
}
.myfoot>div>p{
    line-height: 1.5rem;
}
.index_body{
    /* border: 1px solid red; */
    margin-top:0.65rem;
    margin-bottom: 1rem;
}
.index_head{
    
    
    height: 0.5rem;
    width: 100%;
    font-size: 0.4rem;
    margin-bottom: 0.1rem;
}
.index_head>div:first-child{
    float: left;
}
.index_head>div:last-child{
    float:right;
    font-size: 0.3rem;
    height: 0.5rem;
    line-height: 0.5rem;
}
.index_search{
    background: rgb(236, 234, 234);
    color: #999;
    font-size: 0.3rem;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 90%;
    margin: auto;
    margin-bottom: 0.2rem;

}
.index_search_input{
    border: none;
    height: 0.45rem;
    line-height: 0.45rem;
    vertical-align: top;
    background: rgba(255,255,255,0);
    outline: none;
}
.index_location{
    font-size: 0.4rem!important;
    color: rgb(238, 147, 11); 
}
.index_headfb{
    font-size: 0.4rem!important;
    color: rgb(238, 147, 11)
}
.index_search{
    font-size: 0.3rem!important;
    vertical-align: top;
}
.index_list_all{
    margin-top: 0.2rem;
    width: 100%;
    overflow: hidden;
    height: 2.1rem;
}
.index_list_all>div{
    width: max-content;
 
    margin-left: 0%
}
.index_list_blean{
    height: 2.5rem;
    
}
.index_list_blean>.wh_indicator{
    bottom: 0;
}
.index_list_fl{
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    height: 2rem;
    display: inline-block;
    float: left;
    }
.index_list_fl>li{
    display: inline-block;
    font-size: 0.2rem;
    width: 20%;
    height: 50%;
    float: left;
}
.index_list_fl>li>div{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:10%;
}

.index_list_fl>li>div>div{
    width: 100%;
font-size: 0.22rem;
    
}
.index_list_icon{
    font-size: 0.5rem!important;
    color: rgb(14, 190, 235);
}
.index_list_btn{
    border: 1px solid red;
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
}
.index_list_bg{
    background: url(../imgs/blean_bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.index_list_bg>p{
    font-size: 0.4rem;
    text-align: center;
    color: white;
    margin-top: 0.7rem
}
.index_list_bg>div{
    width: 100%;
    text-align: center;
}
.index_list_btnl{
    display: inline-block;
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    padding: 0 0.1rem;
    height: 0.6rem;
    line-height: 0.55rem;
    vertical-align: middle; 
}
.index_list_btnr{
    display: inline-block;
    background: white;
    color: #ff6900;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    padding: 0 0.1rem;
    height: 0.6rem;
    line-height: 0.55rem;
    vertical-align: middle;
}
/*轮播图*/
.index_blean_imgs{
    
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
}
.index_blean_imgss>.wh_indicator{
    bottom: 0;
}
.index_blean_img{
    width: 100%;
    height: 2rem;
}
/*首页公告轮播*/
li{
    list-style: none;
}
.index_gonggao_kuang{
    border: 1px solid #ddd;
    border-radius: 0.1rem;
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
    height: 1.2rem;
    overflow: hidden;
    box-shadow: 0 1px 1px 1px rgba(10,10,10,0.1);
}
.index_gonggao_kuang>ul{
    display: inline-block;
    font-size: 0.25rem;
    width: 75%;
    height: 100%;
}
@keyframes gonggao1
{
from {height:0;}
to {height:1.2rem;}
}

.index_gonggao_kuang>ul>li{
    width: 100%;
    overflow: hidden;
    line-height: 0.56rem;
    color: #999;
    animation: gonggao1 1s;
}
.index_gonggao_head{
    display: inline-block;
   
    vertical-align: top;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1.1rem;
    padding-top: 0.18rem;
}
.index_gonggao_head>img{
    width: 70%;
    display: block;
    margin:auto;
}
.index_gonggao_li{
   
    height: 1.2rem;
    line-height: 1.2rem;
}
/*选择你需要分服务类型*/
.index_xzfw{
    border: 1px solid #ddd;
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
    border-radius: 0.1rem;
    box-shadow: 0 1px 1px 1px rgba(10,10,10,0.1) ;
    padding-top: 0.2rem
}
.index_xzfw_head{
    font-size: 0.4rem;
    font-weight: bold;
}
.index_xzfw_list1{
    width: 95%;
    margin: auto;

    font-size: 0.2rem
}
.index_xzfw_list1>ul{
    width: 100%;
    display: block;
}
.index_xzfw_list1>ul>li{
    float: left;
    width: 25%;

   
    overflow: hidden;
}
.index_ppsj{
    width: 120%;
    margin-left: -0.15rem
}
.index_wlzx{
    width: 120%;
    margin-left: -0.15rem;

}
.index_itrj{
    width: 120%;
    margin-left: -0.15rem;
}
.index_qtfw2{
    width: 120%;
    margin-left: -0.15rem;
}
.index_phone{
    clear: both;
    height: 0.7rem;
    background:#f5f5f5;
    padding-left:0.2rem;
}
.index_phone>span{
    line-height: 0.7rem;
    font-size: 0.3rem;
}
.index_phone>input{
    height: 0.65rem;
    vertical-align: top;
    outline-style: none;
    border: none;
    background:#f5f5f5;
}
.index_yzm{
    height: 0.7rem;
    background:#f5f5f5;
    margin-top: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.index_yzm>span{
    line-height: 0.7rem;
    font-size: 0.3rem;
}
.index_yzm>span:nth-child(3){
    background: #d0d0d0;
    border-radius: 0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    display: inline-block;
    height: 0.5rem;
    color: white;
    line-height: 0.5rem;
}
.index_yzm>input{
    width: 48%;
    height: 0.65rem;
    vertical-align: top;
    outline-style: none;
    border: none;
    background:#f5f5f5;
    
}
.index_wyfxq{
    display: block;
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
    background: linear-gradient(90deg,#f1954e,#ed672c);
    border-radius: 4px;
    color: white;
    border: none;
    height: 0.6rem;
}
.index_xzfw_foot{
    display: block;
    text-align: center;
    width: 95%;
    margin: auto;
    font-size: 0.25rem;
    color: #999;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.index_jdal{
    
    width: 95%;
    margin: auto;
    height: 3.6rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0rem 0rem 0.2rem 0.2rem;
    margin-top: 0.5rem;
}
.index_jdal_head{
    font-size: 0.45rem;
    font-weight: bold;
   
}
.index_jdal_head>i{
    float: right;
    font-size: 0.5rem;
    margin-right: 0.2rem;
    margin-top: 0.05rem;
}
.index_jdal_list{
    
    overflow: auto;
    width: 100%;
    
}
.index_jdal_list>ul{
    height: 100%;
    width: max-content;
}
.index_jdal_list>ul>li{
    float: left;
    width: 3.38rem;
    height: 2.7rem;
    padding: 0.1rem;
    box-shadow: 1px 0 1px 1px rgba(10,10,10,0.1);
    overflow: hidden;
    margin: 0.1rem;
}
.index_jdal_list>ul>li:first-child{
    margin-left: 0;
}
.index_jdal_list>ul>li>div>img{
    width: 100%;
}
.index_jdal_list>ul>li>p{
    font-size: 0.35rem;
    font-weight: bold;
    color: red;
}
.index_jdal_title{
    font-size: 0.3rem;
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
  
}
.index_jdal_title_head{
    color: #ff6900;
}
.index_fwxz_li{
    font-size: 0.3rem;
    width: 95%;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom:0.2rem; 
    height: 2.5rem;
}
.index_fwxz_li>ul>li{
    display: inline-block;
    float: left;
    width: 24%;
    border: 1px solid #ddd;
    margin: 0.03rem;
    padding: 0.1rem;
    text-align: center;
    border-radius: 0.1rem;
}
.index_fwxz_li_head{
    font-size: 0.35rem;
    font-weight: bold;
}
.index_fwxz_li_more>i{
    font-size: 0.1rem;
}
.index_fwxz_li_more{
    font-size: 0.2rem;
    color: #999;
    float: right;
    margin-top: 0.05rem
}
.index_qtfw{
  
    width: 95%;
    margin: auto;
    margin-top: 0.5rem;
}
.index_qtfw_list{
    height: 3.5rem;
  
}
.index_qtfw_list>.wh_indicator{
    bottom:0rem; 
}
.index_qtfw_li{
    width: 100%;
}
.index_qtfw_li>li{
    display: inline-block;
    float: left;
    width: 20%;
    font-size: 0.2rem;
    text-align: center;
}
.index_qtfw_img{
    width: 100%;
}
.index_qtfw_head{
    font-size: 0.35rem;
    font-weight: bold;
}
.index_flzx{
    width: 95%;
    margin: auto;
    margin-top: 0.5rem;
    height: 3.5rem;
}
.index_flzx_head{
    font-size: 0.35rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}
.index_flzx_list{
    width: 100%;
}
.index_flzx_list>ul{
    width: 100%;
}
.index_flzx_list>ul>li{
    display: inline-block;
    float: left;
    width: 48%;
    margin: 0.06rem;
    box-shadow: 1px 0 1px 1px rgba(10,10,10,0.1)
}
.index_flzx_list>ul>li>img{
    width: 100%;    
}
.index_fblean{
    margin: auto;
    border-radius: 0.1rem;
    overflow: hidden;
    margin-top: 0.2rem;
    width: 95%;
    height: 1.5rem;
}
.index_fblean_li{
    width: 100%;
    height: 1.5rem;
}
.index_last{
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
}
.index_last_head{
    width: 100%;
    overflow: auto;
}
.index_last_head>ul{
    width: max-content;
}
.index_last_head>ul>li{
    display: inline-block;
    float: left;
    font-size: 0.3rem;
    padding: 0.1rem 0.2rem;
}
.index_last_head_active{
    color: #ed672c;
    border-bottom: 2px solid #ed672c; 
}
.index_last_list>ul{
    width: 100%;
}
.index_last_list>ul>li{
    width: 100%;
    padding: 0.2rem;
    box-shadow: 1px 0 1px 1px rgba(10,10,10,0.1);
    clear: both;
    height: 3.5rem;
    margin-top: 0.2rem;
}
.index_last_list>ul>li>div:first-child{
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    
}
.index_last_headimg{
    font-size: 0.25rem;
    font-weight: 550;
    height: 0.7rem;
    line-height: 0.7rem;
}
.index_last_headimg>span:last-child{
    color: #8c8c8c;
    font-weight: 100;
    float: right;
}
.index_last_headimg>img{
    width: 0.5rem;
    border-radius: 50%;
   
}
.index_last_title{
    color: #8c8c8c;
    font-size: 0.25rem;
    width: 90%;
    margin-left: 10%
}
.index_last_spimg{
    width: 18%;
    display: inline-block;
    float: left;
    margin-right: 0.1rem;
}   
.index_last_spimg>img{
    width: 100%;
    border-radius: 0.1rem;
}
.index_last_spxx{
    display: inline-block;
    width: 80%;
    float: left;
    font-size: 0.3rem;
}
.index_last_spxx>div:first-child{
    font-weight: 550
}
.index_last_spxx>div:nth-child(2){
    color: #8c8c8c;
}
.index_last_spxx>div:last-child{
    color: #ed672c;
    font-weight: 550;
    margin-top: 0.1rem;
}
.leimu_body{
   
    margin-top: 0.65rem;
    margin-bottom: 0.5rem
}
.leimu_head{
    width: 100%;
    padding:0.1rem 0.2rem;
    height: 0.8rem;
    border-bottom: 1px solid #ddd;
}
.leimu_head>i{
    font-size: 0.5rem;
    color: #8c8c8c;
    
    vertical-align: top;
    line-height: 0.6rem;
    clear: both;
    float:right;
}
.leimu_head_search{
    background: rgb(244, 244, 244);
    width: 88%;
    display: inline-block;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: 0.1rem;
    padding: 0.1rem 0.2rem;
}
img{
    vertical-align: middle;
}
.leimu_head_search>input{
    height: 0.4rem;
    line-height: 0.4rem;
    float: left;
    border: none;
    outline-style: none;
    background: rgb(244, 244, 244);
    width: 90%;
   
}
.leimu_head_search>img{
    width: 0.4rem;
    float: left;
}
.leimu_nav{
    font-size: 0.25rem;
    color: #8c8c8c;
    border-right:1px solid #ddd;
    width: 23%;
    position: absolute;
    left: 0;
    top: 1.45rem;
    height: 79%;
    overflow: auto;
}
.leimu_nav>ul{
    width: 100%;
    height: max-content;
}
.leimu_nav>ul>li{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0.2rem 0.2rem;
}
.leimu_list{
    position: absolute;
    right: 0;
    width: 77%;
    height: 78.5%;
    overflow: auto;
    padding: 0.2rem;
}
.leimu_list_firimg{
    width: 100%;
}
.list_head{
    font-size: 0.3rem;
    font-weight: bold;
    height: 0.4rem;
    line-height: 0.4rem;
    border-left: 3px solid #ed672c;
    padding-left: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    clear: both;
}
.leimu_first_list{
    width: 100%;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    clear: both;
}
.leimu_first_list>li{
    float: left;
    width: 33.33%;
    font-size: 0.25rem;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.1rem;
    border-left: 1px solid  #ddd;
    margin-left: -1px
}
.leimu_first_list>li>img{
    width: 50%;
    padding: 0.1rem;
    
}
.leimu_ather_list{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    height: 1.5rem;
}   
.leimu_ather_list>li{
    float: left;
    width: 33.33333333%;
    padding: 0.1rem 0.2rem;
    font-size: 0.2rem;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-left: -1px;
}
.leimu_last_list>li{
    margin: 0.4rem 0.1rem;
    box-sizing: border-box;
}
.leimu_last_list>li>img{
    width: 1rem;
    border-radius: 0.1rem;
    vertical-align: top;
}
.leimu_last_list>li>div{
    display: inline-block;
    width: 73%;
    font-size: 0.23rem;
}
.leimu_last_title{
    color: #8c8c8c;
}
.leimu_last_sj{
    margin-top: 0.1rem;
}
.leimu_last_sj>span:first-child{
    color: #ed672c;
}
.leimu_last_sj>span:last-child{
    color: #999;
    float: right;
}
.dongtai_body{
    margin-top: 0.65rem;
    margin-bottom: 1rem
}
.dongtai_head{
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #ddd;
    height: 0.8rem;
}
.dongtai_head>ul{
    width: 95%;
    margin: auto;
}
.dongtai_head>ul>li{
    display: inline-block;
    float: left;
    width: 25%;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.3rem
}
.dt_blean_img{
    width: 100%;
    height: 1.7rem;
    border-radius: 0.1rem;
}
.dongtai_blean{
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
}
.dongtai_list1{
    width: 95%;
    margin: auto;
    overflow: auto;
    margin-top: 0.2rem;
    margin-right: 0
}
.dongtai_list1>ul{
    height: 100%;
    width: max-content;
}
.dongtai_list1>ul>li{
    float: left;
    width: 8%;
    margin-right: 0.25rem
}
.dongtai_list1>ul>li>img{
    width: 100%;
}
.dongtai_cnxh_list{
    width: 95%;
    margin: auto;
}
.dongtai_cnxh_list>ul{
    width: 49%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}
.dongtai_cnxh_list>ul>li{
    /* float: left; */
    display: inline-block;
    width: 95%;
    vertical-align: top;
    margin: 0.1rem;
    font-size: 0.25rem;
    border-radius: 0.1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 2px 5px 1px rgba(10,10,10,0.3)
}
.dongtai_cnxh_list>ul>li>img{
    width: 100%
}
.dongtai_cnxh_city{
    position: absolute;
    top: 1.3rem;
    right: 0.1rem;
    display: block;
    background: rgba(10,10,10,0.3);
    padding: 0rem 0.2rem;
    border-radius: 1rem;
    color: white;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.2rem;
}
.dongtai_cnxh_tit{
    font-size: 0.25rem;
    font-weight: bold;
    width: 95%;
    margin: auto;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.dongtai_cnxh_name{
    margin: auto;
    font-size: 0.2rem;
    color: #8c8c8c;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    width: 95%;
   
}
.dongtai_cnxh_head{
    width: 95%;
    margin: auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.dongtai_cnxh_head>span{
    font-size: 0.4rem;
    font-weight: bold;
}
.dongtai_cnxh_head>select{
    float: right;
    margin-top: 0.25rem;
    border: none;
    color: #8c8c8c;
    outline-style: none;
}
.home{
    margin-top: 0.65rem;
    margin-bottom: 1rem;
    background: #f0eff5
}
.home_user{
    
    height: 2rem;
    background: -webkit-gradient(linear,0 0,0 bottom,from(#ff9b44),to(#ff750e));
    color: white;
    font-size: 0.3rem;
    line-height: 2rem;
    
}
.homg_userimg{
    width: 1rem;
    margin-left: 0.3rem;
}
.home_user_list1{
    width: 100%;
    clear: both;
    height: 1.5rem;
}
.home_user_list1>ul{
    width: 100%;
}
.home_user_list1>ul>li{
    float: left;
    width: 25%;
    font-size: 0.25rem;
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    background: white;
}
.home_user_list1>ul>li>img{
    width: 30%;
    margin-bottom: 0.2rem;
}
.home_list{
    font-size: 0.25rem;
    clear: both;
    margin-top: 0.2rem;
}
.home_list>ul{
    width: 100%;
    margin: auto;
  
}
.home_list>ul>li{
    width: 100%;
    background: white;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #ddd;
}
.home_list>ul>li:nth-child(even){
   box-shadow: 1px 0 1px 1px rgba(10,10,10,0.1);
   margin-bottom: 0.2rem;
   border: none;
}
.home_list>ul>li>img{
    width: 0.3rem;
    margin-right: 0.2rem;
}
.home_list>ul>li>i{
    float: right;
    color: #8c8c8c
}
.home_list>ul>li>span:nth-child(3){
    font-size: 0.2rem;
    color: #8c8c8c;
    display: inline-block;
    width: 30%;
    position: absolute;
    right: 10%;
    text-align: right;
}

/******************************************************/
/*第二级页面样式*/
.dingwei{
    top: 0;
    left: 0;
    z-index: 110;
    overflow: auto;
    width: 100%;
    background: white;
   
}
.dingwei_head{
    background: #efeff4;
    width: 100%;
    height: 0.7rem;
    padding-top: 0.1rem;
    box-shadow: 1px 0 1px 1px rgba(10,10,10,0.1)
}
.dingwei_search{
    width: 95%;
    margin: auto;
    background: white;
    height: 0.5rem;
    line-height: 0.5rem;
}
.dingwei_search>img{
    width: 0.35rem;
    margin-bottom: 0.1rem;
    margin-left: 0.2rem;
}
.dingwei_search>input{
    outline-style: none;
    height: 0.45rem;
   position: absolute;
    border: none;
    margin-left: 0.2rem;
}
.dingwei_dqdw{
margin-bottom: 0.2rem;
}
.dingwei_dqdw>p:first-child{
    color: #999;
    font-size: 0.25rem;
    height: 0.7rem;
    line-height: 0.7rem;
    width: 95%;
    margin: auto;
}
.dingwei_dqdw>p:last-child{
    display: block;
    width:fit-content;
    margin-left: 2.5%;
    border: 1px solid #ddd;
    padding: 0.1rem 0rem;
    font-size: 0.3rem;
    border-radius: 0.1rem;
}
.dingwei_dqcs{
    margin-bottom: 0.2rem;

}
.dingwei_dqcs>p:first-child,.dingwei_hotcity>p:first-child{
    color: #999;
    font-size: 0.25rem;
    height: 0.7rem;
    line-height: 0.7rem;
    width: 95%;
    margin: auto;
}
.dingwei_dqcs>p:last-child{
    border: 1px solid #ddd;
    padding: 0.1rem 0.2rem;
    width: fit-content;
    border-radius: 0.1rem;
    font-size: 0.3rem;
    margin-left: 2.5%;
}
.dingwei_hotcity{
    margin-bottom: 0.2rem;
}
.dingwei_hotcity_list{
    width: 95%;
    margin: auto;
}
.dingwei_hotcity_list>ul{
    width: 100%;
}
.dingwei_hotcity_list>ul>li{
    float: left;
    padding: 0.1rem 0.2rem;
    font-size: 0.3rem;
    width: 30%;
    margin: 0.1rem;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 0.1rem;
}
.dingwei_allcity{
    clear: both;
    width: 100%;
    margin: auto;
}
.dingwei_sheng{
    width: 100%;
    background: rgb(240, 239, 245);
    color:#999;
    font-size: 0.3rem;
    height: 0.7rem;
    line-height: 0.7rem;
    padding-left: 2.5%;
}
.dingwei_citylist{
    width: 95%;
    margin: auto;
    font-size: 0.3rem;
    color: #666;
}
.dingwei_citylist>li{
    height: 0.6rem;
    line-height: 0.6rem;
    border-bottom: 1px solid rgb(246,242,242);
}
/*发布需求*/
.fabuxuqiu{
    background: #f0eff5
}
.fabuxuqiu_head{
    background: white;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    font-size: 0.45rem;
    border-bottom: 1px solid rgb(243, 242, 242);
}
.fabuxuqiu_head>i{
    font-size: 0.4rem;
    color: #999;
    float: left;
}
.fabuxuqiu_head>span:nth-child(2){
    font-weight: 100;
}
.fabuxuqiu_head>span:last-child{
    float: right;
    color: #999;
    font-size: 0.3rem;
}
.fabuxuqiu_tit{

    width: 100%;
    padding-left: 2.5%;
   
    font-size: 0.25rem;
    height: 0.7rem;
    line-height: 0.7rem;
    color: #666
}
.fabuxuqiu_tit2{
    background: white;
    width: 100%;
    padding: 2.5%;
    font-size: 0.25rem;
    color: #666;
    
    height: 2rem;
}
.fabuxuqiu_tit2>p{
    line-height: 0.45rem;
}
.fabuxuqiu_xx{
    margin-top: 0.2rem;
    background: white;
}
.fbxq_phone{
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.25rem;
    border-bottom: 1px solid rgb(240, 237, 237)
}
.fbxq_phone>span{
    color: #999;
    border-right: 1px solid rgb(238, 234, 234);
    padding-right: 0.3rem;
    height: 0.5rem;
    line-height: 0.5rem;
    display: inline-block;
}
.fbxq_phone>input{
    outline-style: none;
    border: none;
}
.fbxq_yzm{
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.25rem;
    border-bottom: 1px solid rgb(240, 237, 237)
}
.fbxq_yzm>span:first-child{
    color: #999;
    border-right: 1px solid rgb(238, 234, 234);
    padding-right: 0.3rem;
    height: 0.5rem;
    line-height: 0.5rem;
    display: inline-block;
}
.fbxq_yzm>input{
    outline-style: none;
    border: none;
}
.fbxq_yzm>span:last-child{
    border: 1px solid #ddd;
    padding: 0.1rem 0.2rem;
    border-radius: 1rem;
    background: rgb(224, 221, 221);
    color: #999;
}
.fbxq_btn{
    outline-style: none;
    display: block;
    width: 90%;
    margin: auto;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.32rem;
    color: white;
    background: linear-gradient(90deg,#ff811c,#ff5c00);
    border: none;
    border-radius: 0.1rem;
    margin-top: 0.5rem;
}
.fbxq_foot{
    font-size: 0.2rem;
    color: #999;
    width: 100%;
    margin-top: 0.2rem;
}
.fbxq_foot>span{
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
}
.fbxq_foot>span>img{
    width: 0.2rem;
    vertical-align: middle
}
.search{

}
.search_head{
    width: 100%;
    border-bottom: 1px  solid #ddd;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 0.7rem;
}
.search_head>div{
    background: rgb(244, 244, 244);
    width: 80%;
    display: inline-block;
    height: 0.5rem;
    margin-top: 0.1rem;
    line-height: 0.5rem;
    position: relative  
}
.search_head>div>img{
    width: 0.35rem;
    margin-bottom: 0.1rem;
    margin-left: 0.2rem;
}
.search_head>div>input{
    outline-style: none;
    position: absolute;
    top: 0.1rem;
    left: 0.7rem;
    border: none;
    background:rgb(244, 244, 244); 
}
.search_head>span{
    font-size: 0.35rem;
    font-weight: bold;
    display: inline-block;
    float: right;
    line-height: 0.7rem;
    margin-right: 0.3rem;
}
.search_hot{
    clear: both;
   
    width: 95%;
    margin: auto;
    font-size: 0.25rem;
    margin-top: 0.3rem;
}
.search_hot>p{
    font-size: 0.35rem;
    font-weight: 550;
    color: #666;
    margin-bottom: 0.2rem;
}
.search_hot>ul{
    width: 100%;
}
.search_hot>ul>li{
    float: left;
    border: 1px solid #ddd;
    padding: 0.1rem 0.2rem;
    margin:0.1rem;
    border-radius: 0.1rem;
}
/*详情页面*/
.details{}
.details_head{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 0.7rem;
    font-size: 0.3rem;
    z-index: 100;
}
.details_head>i:first-child{
    float: left;
    font-size: 0.45rem;
    margin-left: 0.15rem;
    margin-top: 0.1rem
}
.details_head>i:last-child{
    float: right;
    font-size: 0.45rem;
    margin-top: -0.5rem;
    margin-right: 0.2rem
}
.details_head>div{
    width: 75%;
    display: block;
    margin: auto;
    height: 0.55rem;
    margin-top: 0.07rem;
    background: #f4f4f4;
}
.details_head>div>img{
    width: 0.4rem;
    margin-left: 0.2rem;
    margin-right: 0.1rem;
}
.details_head>div>input{
    outline-style: none;
    border: none;
    background: #f4f4f4;
}
.details_blean{
    width: 100%;
    overflow: hidden;  
    width: 95%;
    margin: auto;
    margin-top: 0.7rem;
}
.details_blean_img{
    width: 100%;
    height: 1.5rem;
    border-radius: 0.1rem;
}
.detailds_list1{
    width: 95%;
    margin: auto;
    height: 2rem;
}
.detailds_list1>ul{
    width: 100%;
}
.detailds_list1>ul>li{
    float: left;
    width: 20%;
    font-size: 0.21rem;
    text-align: center;
    color: #8c8c8c;
}
.detailds_list1>ul>li>img{
    width: 60%;
}
.details_list2{
    width: 100%;
    clear: both;
    margin-top: 0.3rem;
}
.details_list2>ul{
    width: 100%;
}
.details_list2>ul>li{
    width: 100%;
    margin-top: 0.3rem;
    clear: both;
}
.details_list2>ul>li>p{
    width: 90%;
    margin: auto;
    font-size: 0.4rem;
    font-weight: bold;
    border-left: 5px solid #ed672c;
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.2rem;
    clear: both;
    margin-bottom: 0.2rem;
}
.details_list2_list{
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: relative;
    clear: both;
    border-top: 1px solid rgb(240,240,240);
    border-bottom: 1px solid rgb(240,240,240);
    height: 0.7rem;
    line-height: 0.7rem;
}
.details_list2_list>li:last-child{
    border-right: none;
}
.details_list2_list>li{
   display: inline-block;
   width: 25%;
   font-size: 0.22rem;
   color: #8c8c8c;
   float: left;
   height: 0.7rem;
   line-height: 0.7rem;
   text-align: center;
   border-right: 1px solid rgb(240,240,240);
}
.details_dzfa{
    width: 100%;
    background: linear-gradient(90deg,#fdbc7c 50%,#feaa67);
    height: 1.2rem;
    font-size: 0.25rem;
    padding-top: 0.25rem;
    color: white;
    padding-left: 0.2rem;
    margin-top: 0.2rem;
    
}
.details_ljrl{
    float: right;
    background: white;
    color: #ed672c;
    border-radius: 0.1rem;
    margin-top: -0.5rem;
    height: 0.5rem;
    width: 1.5rem;
    text-align: center;
    line-height: 0.5rem;
    margin-right: 0.2rem;
}
.details_list3{
    width: 100%;
    height: max-content;
    clear: both;
    margin-top: 0.3rem;
    box-shadow: 1px 0 5px 1px rgba(10,10,10,0.1);
    padding-bottom: 2rem;
}
.details_list3_head{
    width: 100%;
    height: 0.7rem;
    overflow: auto;
}
.details_list3_head>ul{
    width: max-content;
    border-bottom: 1px solid rgba(10,10,10,0.1);
    height: 0.7rem;
}
.details_list3_head>ul>li{
    float: left;
    font-size: 0.25rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: 0.7rem;
    line-height: 0.7rem
}
.details_list3_head>ul>li:first-child{
    color: #ed672c;
    border-bottom: 2px solid #ed672c;
}
.details_list_list{
    width: 100%;
}
.details_list_list>ul{
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height:max-content;

}
.details_list_modle>img{
    width: 25%;
    border-radius: 0.1rem;
    vertical-align: top;
}
.details_list_modle{
    box-shadow: 1px 0 5px 1px rgba(10,10,10,0.1);
    margin-top: 0.3rem;
    padding:0.2rem
}
.details_list_modle>div{
    display: inline-block;
    width: 72%;
    overflow: hidden;
    font-size: 0.27rem;
    
}
.details_list_modle_tit>div:first-child{
    overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-line-clamp:2; 
-webkit-box-orient:vertical;
color: #666
}
.details_list_modle_tit>div:nth-child(2){
    font-size: 0.2rem;
    color: #999;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}
.details_list_modle_tit>div:nth-child(3){
    color: #ed672c;
    font-size: 0.23rem;
}
.details_list_modle_tit>div:nth-child(3)>span{
    display: inline-block;
    color: white;
    background: #ed672c;
    border-radius: 0.05rem;
    width: 1.2rem;
    text-align: center;
    font-size: 0.2rem
}
.details_list_name{
    margin-top: 0.1rem;
    border-top: 1px solid rgba(10,10,10,0.1);
    padding-top: 0.1rem;
    font-size: 0.23rem;
    color: #8c8c8c;
}
.details_list_name>img{
    border-radius: 50%;
    width: 0.5rem;
   
}
.details_list_name>span:last-child{
    float: right;
    font-size: 0.2rem;
    margin-top: 0.1rem;
    margin-right: 0.2rem
}
.details_foot{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100%;
    height: 1rem;
    background: white;
    box-shadow: 0px 0 5px 2px rgba(10,10,10,0.1)
}
.details_foot>button{
    outline: none;
    width: 90%;
    display: block;
    margin: auto;
    height: 0.7rem;
    margin-top: 0.15rem;
    background: -webkit-gradient(linear,left top,right top,from(#ff913a),to(#ff5c00));
    color: white;
    border: none;
    border-radius: 0.1rem
}
.details_bottom{
    text-align: center;
    font-size: 0.3rem;
    color: #8c8c8c;
    margin-top: 0.5rem;
}
.information_head{
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    border-bottom: 1px solid rgba(10,10,10,0.1)
}
.information_head>i:first-child{
    font-size: 0.45rem;
    float: left;
    margin-left: 0.1rem
}
.information_head>i:last-child{
    font-size: 0.45rem;
    float: right;
    margin-top: -0.7rem;
    margin-right: 0.2rem
}
.information_head>span{
    display: block;
    margin: auto;
    font-size: 0.45rem;
    width: 50%;
    text-align: center;
}
.information_list{
    width: 100%;
}
.information_list>ul{
    display: block;
    width: 95%;
    margin: auto;
    height: max-content;
    font-size: 0.3rem
}
.information_list>ul>li{
    width: 100%;
    border-bottom: 1px solid rgba(10,10,10,0.1);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.information_list_img{
    display: inline-block;
    width: 22%;
    
    vertical-align: top
}
.information_list_img>img{
    width:100%;
    border-radius: 0.1rem;
}
.information_list_tit{
    display: inline-block;
    width: 76%;
    padding-right: 0.3rem
}
.information_list_tit>div:first-child{
    overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-line-clamp:3; 
-webkit-box-orient:vertical;
font-size: 0.25rem;
font-weight: 550;
height: 1.2rem;
}
.information_list_tit>div:last-child{
    font-size: 0.2rem;
    color: #8c8c8c;
}   
.information_list_tit>div>img{
    width: 0.4rem;
    border-radius: 50%;
}
.dianpulist_nav{
    width: 100%;
    height: 0.7rem;
    font-size: 0.3rem;
    margin-top: 0.7rem;
}
.dianpulist_nav>ul{
    width: 100%;
    height:0.7rem ;
}
.dianpulist_nav>ul>li:first-child{
    width: 28%;
    color: #ed672c;
    border-bottom: 2px solid #ed672c;
}
.dianpulist_nav>ul>li{
    float: left;
    width: 18%;
    text-align: center;
    height: 0.7rem;
    line-height: 0.7rem;

}
.dianpulist_list{
    font-size: 0.23rem;
    padding-bottom: 1.5rem
}
.dianpulist_list>ul>li{
    padding: 0.2rem;
    margin-top: 0.2rem;
    clear: both;
    
    box-shadow: 1px 0 5px 2px rgba(10,10,10,0.2)
}
.dianpulist_list_tit>div:first-child{
    display: inline-block;
    width: 21%;
    border-radius: 0.1rem;
    vertical-align: top;
    margin-right: 0.1rem
}
.dianpulist_list_tit>div:first-child>img{
    width: 100%;
}
.dianpulist_list_tit>div:last-child{
    width: 76%;
    display: inline-block
}
.li_tithead>span{
    float: right;
    font-size: 0.21rem;
    color: #8c8c8c;
    margin-top: 0.05rem;
    margin-right: 0.2rem
}
.li_kuang{
    margin-top: 0.2rem;
}
.li_kuang>span{
    display: inline-block;
    padding: 0rem 0.1rem;
    border: 1px solid #f1954e;
    color: #f1954e;
    border-radius: 0.05rem;
    margin-right: 0.1rem;
}
.li_tit_smale{
    font-size: 0.2rem;
    color: #8c8c8c;
    height: 0.5rem;
    line-height: 0.5rem;
   
}
.li_jiage{
    border-top: 1px solid rgba(10,10,10,0.1);
    border-bottom: 1px solid rgba(10,10,10,0.1);
    padding-left: 21%;
   padding-bottom: 0.2rem;
   position: relative;
}
.li_jiage>p{
    width: 90%;
    overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
margin-top: 0.2rem
}
.li_jiage>div>span:first-child{
    color: #ed672c;
    font-size: 0.2rem
}
.li_jiage>div>span:last-child{
    color:#8c8c8c;
    font-size: 0.2rem;
    margin-left: 0.2rem
}
.li_jiage>i{
    position: absolute;
    right: 2%;
    top: 20%;
}